{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "browsers": "last 2 versions" } }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    "@parcel/babel-plugin-transform-runtime"
  ]
}
